.pop-menu-title {
  padding-left: 0;
  margin-left: 0;
}

.pop-menu-description {
  padding-top: 3px;
  font-style: italic;
}

.pop-dialog-icon {
  padding: 0px 24px 12px 0;
}

.pop-dialog-description-box {
  width: 24em;
}

.pop-dialog-description {
  margin-top: 3px;
}
