Source: gnome-shell-extension-system76-power
Section: gnome
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://github.com/system76/gnome-shell-extension-system76-power
Vcs-Git: https://github.com/system76/gnome-shell-extension-system76-power.git

Package: gnome-shell-extension-system76-power
Architecture: all
Depends:
    system76-power (>= 1.0.0~),
    ${misc:Depends}
Description: Gnome-shell extension for System76 Power Management
